<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head.ejs') %>
<body>
    <%- include ('../partials/nav3.ejs') %>

    <% if (data!=null){%>
        <div class="items-div">
            <% data.forEach(data =>{%>
                <div class="item-details">
                    <div class="myimage">
                        <img src="data:data/<%=data.image.contentType%>;base64,
                        <%=data.image.data.toString('base64')%>"/>
                    </div>
                    <div class="data-items">
                <h3><%= data.item_Name %></h3>
                <h3>$<%= data.price %></h3>
                <h3><%= data.Description %></h3>
                <h3>quantity:<%= data.quantity %></h3>
            </div>
            <div class="items-button">
            <button><a href="/purchase/<%= data.item_Name %>/<%= data.price %>/<%= data.quantity %>">checkout</a></button>
            <button><a href="/add-item/<%=data._id%>">Add</a></button>
            <button><a href="/delete/<%=data._id%>">Delete</a></button>
            <button><a href="/sub-item/<%=data._id%>">Reduce</a></button>
        </div>
            </div>
            <%})%>
        </div>
    
       <%} else {%>
        <div class="items-error">
            <p class="">No items created</p>
            <a href="/create-Items">Click here to create your first Item</a>
            </div>            
    <% } %>
    
</body>
</html>