<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %>
<body>
    <%- include ('../partials/nav2.ejs') %>
   <header class="myhomepage">
    <h2>Welcome to the items Page To Thomas Store</h2>
   </header>
   <% if (result.length>0){%>
    <div class="items-div">
        <% result.forEach(result =>{%>
            <div class="item-details">
                <div class="myimage">
                    <img src="data:result/<%=result.image.contentType%>;base64,
                    <%=result.image.data.toString('base64')%>"/>
                </div>
                <div class="data-items">
            <h3> Item Name: <%= result.item_Name %></h3>
            <h3>$ <%= result.price %></h3>
            <h3>Item Description: <%= result.Description %></h3>
        </div>
        <div class="homepage-item">
        <button><a href="/purchase/<%= result.item_Name %>/<%= result.price %>">purchase</a></button>
        <button><a href="/cart/<%= result._id%>">Add to cart</a></button>
        </div>
        </div>
        <%})%>
    </div>

   <%} else {%>

    <div class="no-item">
        <h3>No Items Created</h3>
    </div>
    

   <%}%>
</body>
</html>